[bumpversion]
current_version = 1.0.0
commit = False
tag = False
serialize =
	{major}.{minor}.{patch}-{build}
	{major}.{minor}.{patch}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(-(?P<build>[\w_-]+\.\d+))?

[bumpversion:file:.version]

[bumpversion:file:templates/rollup/package.json]

[bumpversion:file:templates/vite/package.json]

[bumpversion:file:templates/webpack/package.json]

[bumpversion:file:templates/typescript/package.json]

[bumpversion:file:templates/node/package.json]

[bumpversion:file:templates/parcel/package.json]
