node_modules
templates/node/package-lock.json
templates/typescript/package-lock.json
templates/webpack/package-lock.json
templates/rollup/package-lock.json
templates/vite/package-lock.json
.parcel-cache
.DS_Store
dist
linkurious-create-ogma-*.tgz
templates/rollup/public/bundle.js
templates/rollup/public/bundle.js.map
templates/typescript/public/index.js
reports
coverage
